<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP">
<head>
  <title>Book <%= @book.id %></title>
</head>
<body>
  <h1><%= @book.title %></h1>
  <p>著者: <%= @book.author %></p>
</body>
</html>
